@import '../../common.scss';
.AppHero {
  composes: section;
}

.columns {
  display: block;
  @media(min-width: 761px){
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row-reverse;
  }
}

.colImage {
  display: block;
  flex-shrink: 1;
  position: relative;
  margin-bottom: 25px;
  min-height: 400px;

  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
.colText {
  padding: 0;
  @media(min-width: 761px){
    padding: 0 50px;
    max-width: 40%;
  }
}
.colText h2 {
  font-size: 60px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 900;
}

.rotator {
  color: #d6008b;
  position: absolute;
  left: 0;
  top: 0;
}

.rotatorWrapper {
  overflow: hidden;
  position: relative;
}
.rotatorPlaceholder {
  opacity: 0;
}