# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.12

    working_directory: ~/repo

    steps:
      - add_ssh_keys: 
          fingerprints: 
            - "96:42:97:13:fd:0b:27:2f:68:58:59:37:09:76:16:de"
            - "42:2d:79:85:a3:fe:9d:9f:27:47:28:19:d1:bf:f7:ab"

      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      - run:
          name: Run Tests
          command: |
            yarn run test --watchAll=false

      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "cd /var/www/vhosts/theemilyjones.com/theemilyjones && sh ./scripts/build.sh"


workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only: master

