html,
body {
    color: #4a4a4a;
    font-family: 'Karla', serif;
}

* {
    -webkit-font-smoothing: antialiased;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

img {
    max-width: 100%;
}

a {
    color: #d6008b;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.section {
    width: 100%;
}
.section__content {
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: block;
}

.header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    transition: all ease 150ms;
}
.header__logo {
    background: url('../images/logo.png') no-repeat;
    background-size: contain;
    width: 161px;
    height: 90px;
    display: inline-block;
    transition: all ease 150ms;
}
.header__logo h1 {
    margin: 0;
    padding: 0;
    font-size: 0;
    color: #FFF;
}

nav.nav {
    display: inline-block;
}
nav.nav .nav__item {
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
nav.nav .nav__item:hover {
    text-decoration: underline;
}
nav.nav .nav__item.nav__item--red {
    color: #d6008b;
    font-style: italic;
}
nav.nav .nav__item.nav__item--lowercase {
    text-transform: lowercase;
}

@media(min-width: 761px){
    nav.nav .nav__item {
        margin-left: 40px;
        display: inline-block;
    }
    nav.nav .nav__item.nav__item--red {
        margin-left: 80px;
    }
}


.header-placeholder {
    height: 150px;
}

.sticky-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #FFF;
    z-index: 999;
    transition: all ease 150ms;
}

.sticky-header--launched .header {
    padding: 10px 0;
}

.sticky-header--launched .header__logo {
    width: 90px;
    height: 50px;
}

.sticky-header--scroll-down {
    opacity: 0;
}
.sticky-header--scroll-up {
    opacity: 1;
}


.hero .col {
    width: 100%;
}
h2 {
    font-size: 60px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #333;
}
.hero .col__left h2 .text-rotator {
    color: #d6008b;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    min-width: 340px;
    vertical-align: bottom;
    position: relative;
}
.hero .col__left h2 .text-rotator span {
    display: block;
    opacity: 0;
    max-height: 0;
    transform: translateY(-100%);
}
.hero .col__left h2 .text-rotator span.active {
    opacity: 1;
    max-height: 1000px;
    transform: translateY(0%);
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}


.hero .col__right {
    text-align: center;
    margin-bottom: 25px;
}

@media(min-width: 761px){ 
    .hero .section__content {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        font-family: 'Karla', sans-serif;
    }
    
    .hero .col__left {
        padding: 0 50px 0 50px;
    }
    .hero .col__right {
        text-align: right;  
        margin-bottom: 0;
    }
}

.about {
    padding: 50px 0;
}
.section__heading {
    color: gray;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}
.about h2 {
    font-size: 40px;
    margin: 0px;
    display: inline-block;
    position: relative;
}
.about h2:after {
    content: '';
    width: 75%;
    height: 3px;
    display: block;
    background: #d6008b;
    margin: 15px 0;
}
.about__currently {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
.about__columns {}
.about .col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.about .col.col__left {
    text-align: center;
    margin-bottom: 50px;
}
.about .col.col__left img {
    display: inline-block;
    margin-bottom: 5px;
}
.about .col.col__left span {
    font-size: 10px;
    display: block;
    color: gray;
}

.about ul {
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.about ul li {
    display: inline-block;
    width: 31%;
    font-size: 12px;
    vertical-align: top;
    margin-bottom: 5px;
}
.about ul li span {
    color: gray;
}

.about .section__heading {
    color: #333;
}

@media(min-width: 760px){
    .about .col.col__left {
        width: 100%;
        max-width: 265px;
        margin-bottom: 0;
    }
    .about .col.col__right {
        width: 100%;
        padding-left: 30px;
        max-width: calc(100% - 300px);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .about ul {
        padding: 0 0 0 15px;
    }
}

.work {
    padding: 50px 0;
    background: #262626;
    color: #FFF;
}
.work h2 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #FFF;
}
.work .work__heading {
    color: #8e8e8e;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.work .work__row {
    position: relative;
    padding: 0 15px;
}
.work .work__listing {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}
.work .work__listing p {
    font-size: 12px;
    color: gray;
}
.work .work__listing a {
    color: #d6008b;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}
.work .section__heading {
    color: #d6008b;
}

@media(min-width: 760px){ 
    .work .work__listing {
        width: 32%;
    }
}

.contact {
    padding: 50px 0 100px;
    border-bottom: 25px solid #262626;
}
.contact h2 {
    font-size: 40px;
}
.contact p {
    color: gray;
}
.contact form {
    font-size: 0;
}
.contact .form-group {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact .form-group input,
.contact .form-group textarea {
    width: 100%;
    border: 1px solid #262626;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contact .form-group textarea {
    resize: none;
    height: 150px;
}
.contact button.btn {
    background: #d6008b;
    color: #FFF;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}
.contact .section__heading {
    color: #333333;
}
@media(min-width: 760px){ 
    .contact .form-group.col-3 {
        display: inline-block;
        width: 33.33%;
    }
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 50px 0;
    background: #FFF;
    z-index: 99999;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50%);
    transition: all ease 150ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lightbox__close {
    font-size: 36px;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.job__details {
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #d6008b;
    padding: 25px 0;
}
.job__details p:first-child {}
.job__skills {
    margin-top: 55px;
}

.job__skills > span {
    color: #d6008b;
}

.job__skills ul {
    column-count: 2;
    list-style: outside disc;
}
.job__skills ul  li {
    margin-left: 1em;
}

body.is-viewing_lightbox {
    overflow: hidden;
}
body.is-viewing_lightbox .lightbox {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(0%);
}